/* header.css */

/* Overall header styling */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999; 
  position:sticky;
  top:0;
  left: 0;
}

/* Logo styling 
.logo {
  margin-bottom: 1rem;
}
*/

.logo h1 {
  font-size: 24px;
  margin: 0;
}

/* Navigation links styling */
.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.main-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for navigation links */
.main-nav a:hover {
  border-bottom: 2px solid #fff;
}
