.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form-container {
  height: 600px;
  width: 300px;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container form {
  width: 100%;
}

.signup-container label {
  margin-bottom: 10px;
}

.signup-container input,
.signup-container select,
.signup-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #0056b3;
}

.signup-container p {
  text-align: center;
  margin-top: 20px;
}




